.characterInfo{
	height:276px;
	width:550px;
	left:0px;
	top:20px;
	position: absolute;
	font-family: "Verdana";
	box-shadow: 1px 1px 10px black;
}

.dragBar{
	width:100%;
	height:20px;
	left:0px;
	top:-20px;
}

.dragBar:hover{
	cursor:move;
}

.dragBarButton{
	width:16px;
	height:16px;
	top: -18px;
}

.weaponRankLtrPos{
	position: absolute;
	left: 20px;
	bottom: 2px;
}

.weaponRankBar{
	position: absolute;
	height: 3px;
	left: 0px;
	bottom: -3px;
	background-color: #FFA600;
}

.weaponRankBorder{
	position: absolute;
	width: 28px;
	height: 2px;
	left: 0px;
	bottom: -3px;
	border: 1px solid black;
}

.weaponRankBackground{
	position: absolute;
	width: 30px;
	height: 3px;
	left: 0px;
	bottom: -3px;
	background-color: dimgray;
}

.heatMeter{
	display: inline-block;
	width: 100px;
	height: 10px;
	background: linear-gradient(to right, green , yellow, orange, red); /* Standard syntax */
}

.heatMeterLine{
	position: relative;
	border-left: 2px solid black;
	height: 8px;
	width: 3px;
}

.heatMeterNum{
	position: relative;
	color: white;
	font-size: 10px;
	top: 12px;
	left: -7px;
}

.statBox{
	position: absolute;
	height: 22px;
	width: 100px;
	left: 210px;
}

.supportBox{
	position: absolute;
	font-size: 10px;
	text-align: center;
	padding-top: 1px;
	height: 16px;
	width: 95px;
	top: 254px;
	left: 280px;
}

.battleStatBox{
	position: absolute;
	height: 22px;
	width: 110px;
}

.indentedStatLabel{
	position: absolute;
	font-size:9px;
	left:15px;
	top:5px;
}

.indentedStat{
	position: absolute;
	left:65px;
	top:3px;
	font-size: 12px;
}

.largeIndentedStat{
	position: absolute;
	left:60px;
	top:2px;
}

.indentedSkillName{
	position: absolute;
	left:10px;
	top:6px;
	font-size: 10px;
}

.indentedWeaponName{
	position: absolute;
	left:31px;
	top:6px;
	font-size: 10px;
}


.indentedWeaponIcon{
	position: absolute;
	left:10px;
	top:5px;
	display:inline-block;
}

.weaponEffectIcons{
	position: absolute;
	left:150px;
	top:6px;
	width:90px;
	display:inline-block;
	text-align:right;
}

.indentedClassName{
	position: absolute;
	left: 0px;
	top:20px;
	font-size: 10px;
}

.indentedExpMovLabel{
	position: absolute;
	font-size:12px;
	left:25px;
	top:5px;
}

.indentedExpMovText{
	position: absolute;
	left:55px;
	top:3px;
}

.HPText{
	position: absolute;
	height: 45px;
	width: 125px;
	left: 5px;
	top: 60px;
	font-size:20px;
}

.HpStatLabel{
	position: absolute;
	font-size:11px;
	left:15px;
	top:15px;
}

.currHPText{
	position: relative;
	font-size: 18px;
	left: 40px;
	top: 9px;
	text-align: right;
}

.maxHPText{
	position: relative;
	font-size:20px;
	left: 37px;
	top: 9px;
}

.statsPos{
	position: absolute;
	width: 230px;
	height: 50px;
	left: calc(50% - 115px);
	top: 160px;
}

.personalSkillHeader{
	top:20px;
}

.personalSkillBody{
	top:40px;
}

.debuffBody{
	top:54px;
}

.weaponBuffBody{
	top:67px;
}

.pairUpBody{
	top:80px;
}

.skillPos{
	width:165px;
	left:380px;
	height:23px;
}

.skillInfoPos{
	overflow-y: hidden;
	width:250px;
	left:125px;
	height:125px;
}

.statInfoPos{
	overflow-y: hidden;
	width:150px;
	left:280px;
	height:63px;
}

.leafsPos{
	width:100px;
	top: 230px;
	left: 380px;
	height:19px;
}

.tagsPos{
	width:43px;
	top: 230px;
	left: 485px;
	height:19px;
	line-height: 19px;
	font-size: 11px;
	padding-left: 17px;
}

.supportInfoPos{
	overflow-y: hidden;
	top: 65px;
	width: 270px;
	left: 5px;
	height: 206px;
}

.tagInfoPos{
	overflow-y: hidden;
	top: 170px;
	width:100px;
	left:380px;
	height:88px;
}

.statusPos{
	width:80px;
	top: 252px;
	left: 380px;
	height:19px;
	line-height: 19px;
	font-size: 10px;
	padding-left: 10px;
}

.statusInfoPos{
	overflow-y: hidden;
	top: 191px;
	width:225px;
	left:150px;
	height:80px;
}

.behaviorPos{
	width:57px;
	top: 252px;
	left: 475px;
	height:19px;
	line-height: 19px;
	font-size: 10px;
	padding-left: 13px;
}

.behaviorInfoPos{
	overflow-y: hidden;
	top: 184px;
	width:175px;
	left:295px;
	height:88px;
}

.racialAbilityInfoPos{
	overflow-y: hidden;
	width:360px;
	left:5px;
	padding-left:5px;
	padding-right:5px;
	line-height: 8px;
}

.racialInfoBlock{
	display: inline-block;
	width: 113px;
	height: 100px;
	font-size: 12px;
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 5px;
	overflow-y: hidden;
}

.statNameText{
	font-size: 14px;
}

.statText{
	margin-left: 10px;
	font-size: 17px;
}

.hitPos{
	position: absolute;
	left: 30px;
	top: 5px;
}

.critPos{
	position: absolute;
	left: 140px;
	top: 5px;
}

.atkPos{
	position: absolute;
	left: 30px;
	top: 22px;
}

.avoidPos{
	position: absolute;
	left: 140px;
	top: 22px;
}

.charExpPos{
	width:95px;
	height:25px;
	top:170px;
	left: calc(50% + 5px);
	font-size: 12px;
	text-align: center;
}

.HpPos{
	width:230px;
	left:calc(50% - 115px);
	top:110px;
	height:45px;
}

.classLvlPos{
	top:55px;
	height:30px;
}

.shieldsPos{
	width:90px;
	left:490px;
	top:188px;
	height:18px;
}

.pairUpIcoPos{
	width:16px;
	left:580px;
	top:190px;
	height:16px;
}

.pairUpInfoPos{
	width:130px;
	left:445px;
	top:53px;
	height:160px;
}

.weaponRankPos{
	width:35px;
	height:24px;
}

.pairBoxPos{
	top: 225px;
	left: 10px;
	height: 85px;
	width: 180px;
}

.itemsPos{
	width:165px;
	left:5px;
	height:25px;
}

.itemInfoPos{
	font-size:11px;
	width:240px;
	left:175px;
	height:135px;
}

.charNamePos{
	height:50px;
	width:200px;
	left: 5px;
	top:5px;
	font-size: 16px;
}

.charNamePos:hover{
	cursor: pointer;
}

.nameInfoPos{
	height:200px;
	width:300px;
	left: calc(50% - 150px);
	top: 60px;
	padding: 5px;
}

.pairUpIcon{
	position: absolute;
	left: 2px;
	bottom: 0px;
}

.statusBox{
	position: absolute;
	left:445px;
	height: 40px;
	width: 173px;
}

.indentedStatus{
	position: absolute;
	top: 8px;
	left:70px;
	font-size: 10px;
	height:20px;
}

.indentedStatusLabel{
	position: absolute;
	font-size:12px;
	left:20px;
	top:14px;
}

.enemyNum{
	position: relative;
	bottom: 2px;
	right: 0px;
}

.charPortrait{
	position: absolute;
	top: 0px; 
	right: 0px;
	height: 50px;
	width: 100px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: inset 25px 0  25px -5px;
}