.characterInfo{
	height:221px;
	width:655px;
	left:0px;
	top:20px;
	position: absolute;
	font-family: "Verdana";
	box-shadow: 1px 1px 10px black;
}

.dragBar{
	width:100%;
	height:20px;
	left:0px;
	top:-20px;
}

.dragBar:hover{
	cursor:move;
}

.dragBarButton{
	width:16px;
	height:16px;
	top: -18px;
}

.weaponRankLtrPos{
	position: absolute;
	left: 20px;
	top: 1px;
	font-size: 13px;
}

.weaponRankBar{
	position: absolute;
	height: 3px;
	left: 0px;
	bottom: 0px;
	background-color: #FFA600;
}

.weaponRankBorder{
	position: absolute;
	width: 31px;
	height: 2px;
	left: 0px;
	bottom: -1px;
	border: 1px solid black;
}

.weaponRankBackground{
	position: absolute;
	width: 33px;
	height: 3px;
	left: 0px;
	bottom: 0px;
	background-color: dimgray;
}

.movExpBox{
	position: absolute;
	height: 21px;
	width: 70px;
	left: 135px;
}

.statBox{
	position: absolute;
	height: 24px;
	width: 100px;
	left: 210px;
}

.supportBox{
	position: absolute;
	font-size: 10px;
	text-align: center;
	padding-top: 1px;
	height: 16px;
	width: 95px;
	top: 254px;
	left: 280px;
}

.battleStatBox{
	position: absolute;
	height: 22px;
	width: 110px;
}

.terrainBox{
	position: absolute;
	height: 18px;
	width: 100px;
	top: 194px;
	left: 550px;
	padding-top: 4px;
	text-align: center;
	font-size: 10px;
}

.statusBox{
	position: absolute;
	height: 18px;
	width: 70px;
	top: 194px;
	left: 475px;
	padding-top: 4px;
	text-align: center;
	font-size: 10px;
}

.goldBox{
	position: absolute;
	height: 18px;
	width: 50px;
	top: 194px;
	left: 420px;
	padding-top: 4px;
	text-align: center;
	font-size: 10px;
}

.motifBox{
	position: absolute;
	height: 16px;
	width: 100px;
	top: 194px;
	left: 315px;
	padding-top: 6px;
	text-align: center;
	font-size: 8px;
}

.weaknessBox{
	position: absolute;
	height: 27px;
	width: 98px;
	top: 184px;
	left: 5px;
	padding-top: 5px;
	padding-left: 8px;
}

.weaknessIcon{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 3px;
	margin-right: 8px;
}

.indentedStatLabel{
	position: absolute;
	font-size:9px;
	left:15px;
	top:7px;
}

.indentedStat{
	position: absolute;
	left:65px;
	top:5px;
	font-size: 12px;
}

.indentedStat2{
	position: absolute;
	left:45px;
	top:3px;
	font-size: 12px;
}

.largeIndentedStat{
	position: absolute;
	left:60px;
	top:2px;
}

.indentedSkillName{
	position: absolute;
	left:10px;
	top:6px;
	font-size: 10px;
}

.indentedWeaponName{
	position: absolute;
	left:30px;
	top:5px;
	font-size: 10px;
}


.indentedWeaponIcon{
	position: absolute;
	left:10px;
	top:4px;
	display:inline-block;
}

.weaponEffectIcons{
	position: absolute;
	left:150px;
	top:6px;
	width:90px;
	display:inline-block;
	text-align:right;
}

.indentedClassName{
	position: absolute;
	left: 0px;
	top:20px;
	font-size: 10px;
}

.indentedExpMovLabel{
	position: absolute;
	font-size:12px;
	left:25px;
	top:5px;
}

.indentedExpMovText{
	position: absolute;
	left:55px;
	top:3px;
}

.HPText{
	position: absolute;
	height: 45px;
	width: 125px;
	left: 5px;
	top: 80px;
	font-size:20px;
}

.HpStatLabel{
	position: absolute;
	font-size:11px;
	left:15px;
	top:15px;
}

.currHPText{
	position: relative;
	font-size: 18px;
	left: 40px;
	top: 9px;
	text-align: right;
}

.maxHPText{
	position: relative;
	font-size:20px;
	left: 37px;
	top: 9px;
}

.statsPos{
	position: absolute;
	width: 230px;
	height: 50px;
	left: calc(50% - 115px);
	top: 160px;
}

.personalSkillHeader{
	top:20px;
}

.personalSkillBody{
	top:40px;
}

.debuffBody{
	top:54px;
}

.weaponBuffBody{
	top:67px;
}

.pairUpBody{
	top:80px;
}

.skillPos{
	width:165px;
	left:485px;
	height:22px;
}

.skillInfoPos{
	overflow-y: hidden;
	width:250px;
	left:230px;
	height:125px;
}

.statInfoPos{
	overflow-y: hidden;
	width:150px;
	left:315px;
	height:63px;
}

.motifInfoPos{
	overflow-y: hidden;
	top: 91px;
	width:250px;
	left:60px;
	height:125px;
}

.statusInfoPos{
	overflow-y: hidden;
	top: 16px;
	width:300px;
	left:150px;
	height:200px;
}

.terrainInfoPos{
	overflow-y: hidden;
	top: 91px;
	width:225px;
	left:320px;
	height:125px;
}

.statNameText{
	font-size: 14px;
}

.statText{
	margin-left: 10px;
	font-size: 17px;
}

.hitPos{
	position: absolute;
	left: 30px;
	top: 5px;
}

.critPos{
	position: absolute;
	left: 140px;
	top: 5px;
}

.atkPos{
	position: absolute;
	left: 30px;
	top: 22px;
}

.avoidPos{
	position: absolute;
	left: 140px;
	top: 22px;
}

.charExpPos{
	width:95px;
	height:25px;
	top:170px;
	left: calc(50% + 5px);
	font-size: 12px;
	text-align: center;
}

.HpPos{
	width:230px;
	left:calc(50% - 115px);
	top:110px;
	height:45px;
}

.classLvlPos{
	top:55px;
	height:30px;
}

.shieldsPos{
	width:90px;
	left:490px;
	top:188px;
	height:18px;
}

.weaponRankPos{
	width:35px;
	height:20px;
	top: 190px;
}

.itemsPos{
	width:165px;
	left:315px;
	height:22px;
}

.itemInfoPos{
	font-size:11px;
	width:240px;
	left:70px;
	height:135px;
}

.charNamePos{
	height:70px;
	width:200px;
	left: 5px;
	top:5px;
	font-size: 16px;
}

.charNamePos:hover{
	cursor: pointer;
}

.nameInfoPos{
	height:200px;
	width:400px;
	left: 210px;
	top: 5px;
}

.pairUpIcon{
	position: absolute;
	right: 10px;
	bottom: 1px;
}

.indentedStatus{
	position: absolute;
	top: 8px;
	left:70px;
	font-size: 10px;
	height:20px;
}

.indentedStatusLabel{
	position: absolute;
	font-size:12px;
	left:20px;
	top:14px;
}

.enemyNum{
	position: absolute;
	bottom: 1px;
	right: -2px;
}

.charPortrait{
	position: absolute;
	top: 0px; 
	right: 0px;
	height: 70px;
	width: 100px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: inset 15px 0  15px -5px;
}