body{
	height:100%;
	width:100%;
}

img{
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.audioButton{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	border: 0px;
	border-radius: 50%;
	box-shadow: none;
	background-color: #FFA600;
	color: white;
}

.audioButton:hover{
	cursor: pointer;
	background-color: #c3db15;
}

.backgroundBox{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-image: url("../IMG/background.png");
    background-repeat: repeat;
}

.mapBox{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.charDiv{
	pointer-events: none;
	height:15px;
	width:15px;
}

.hoverImage:hover{
	cursor: pointer;
	filter: brightness(160%);
}

.dimImage{
	filter: brightness(60%);
}

.healthBarBack{
	position: absolute;
	width: 13px;
	height: 2px;
	left: 0px;
	top: 14px;
	background-color: dimgray;
}

.healthBarFront{
	position: absolute;
	height: 2px;
	left: 0px;
	top: 14px;
}

.healthBarBorder{
	position: absolute;
	width: 12px;
	height: 1px;
	left: 0px;
	top: 14px;
	border: 1px solid black;
}

.expBarBack{
	position: absolute;
	width: calc(100% - 2px);
	height: 5px;
	left: 2px;
	top: 17px;
	background-color: dimgray;
}

.expBarFront{
	position: absolute;
	height: 5px;
	left: 2px;
	top: 17px;
	background-color: #FFA600;
}

.expBarBorder{
	position: absolute;
	width: calc(100% - 4px);
	height: 4px;
	left: 2px;
	top: 17px;
	border: 1px solid black;
}

.infoElement{
	position: absolute;
	border-radius: 10px;
}

.rightIndented{
	position: absolute;
	margin-top:5px;
}

.popOutHeader{
	margin-top:5px;
}

.popOutBody{
	margin-top:25px;
}

.popOutText{
	font-size:11px;
	position: absolute;
	margin-left:5px;
	margin-right:5px;
}

.popOutTextSpacing{
	margin-top:5px;
}

.supportsStyling{
	font-size: 10px;
	position: absolute;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}

.glowBox{
	position:absolute;
	height:16px;
	width:16px;
	display:inline-block;
}

.glowBoxBorderBox{
	position:absolute;
	margin: auto;
	left:0;
	right:0;
	bottom:0;
	top:0;
	height:15px;
	width:15px;
}

.glowBoxBorder0{
	border: 0px solid rgba(0, 0, 0, .08);
}

.glowBoxBorder1{
	border: 1px solid rgba(0, 0, 0, .08);
}

.glowBoxBorder2{
	border: 1px solid rgba(0, 0, 0, .2);
}

.glowBoxBorder3{
	border: 1px solid rgba(0, 0, 0, .4);
}

.glowBox:hover{
	box-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
}

.absolutePos{
	position:absolute;
}

.mapCharCentered{
	position: absolute;
	left: 50%;
	bottom: 0px;
	-webkit-transform: translateX(-50%);
}

.customDivider{
	position:absolute;
	width:96%;
	height:1px;
	left:2%;
	background-color: white;	
}

.itemNamePos{
	font-size: 11px !important;
	top: 5px;
}

.itemRankPos{
	top: 5px;
	right: 0px;
	text-align: right;
}

.itemMightPos{
	top:25px;
}

.itemWeightPos{
	top:40px;
}

.itemNotesPos{
	top:95px;
}

.buttonGridStyle{
	position: relative;
	width: 150px; 
	height: 20px;
	bottom: 15px;
	right: 215px;
	
 	border: 0px;
 	box-shadow: none;
 	background-color: #fafafa;
 	color: #505050;
 	font-family: "Verdana";
	font-size:10px;
	cursor: pointer;
}

.buttonPlayStyle{
	position: relative;
	width: 50px; 
	height: 30px;
	bottom: 13px;
	right: 510px;
	
 	border: 0px;
 	box-shadow: none;
 	background-color: #fafafa;
 	color: #505050;
 	font-family: "Verdana";
	font-size:10px;
	cursor: pointer;
}

.speakerIcon{
	position: relative;
	font-family: "Verdana";
	font-size: 16px;
	bottom: 13px;
	right: 650px;
}

.rangeStyle{
	position: relative;
	width: 150px; 
	height: 30px;
	bottom: 3px;
	right: 650px;
}

.centerText{ text-align: center; }
.rightText{ text-align: right; }
.whiteText{ color: white; }
.redText{ color: #000000;}
.greenText{ color: #50FF50;}
.tanText{ color: #eaeaea; }
.lightGrayText{ color: #6D4E86; }
.boldText{ font-weight: bold; }
.italicText{ font-style: italic; }

.navy{ background-color: #727472; }
.paleTan{ background-color: #78508c  ; }
.lightTan{ background-color: #966eb4 ; }
.yellowTan{ background-color: #beaadc ; }
.darkTan{ background-color: #6e6eb4 ; }
.darkTan2{ background-color: #645096  ; }
.olive{ background-color: #212121; }
.lightGreen{ background-color: #39af2b; }
.green{ background-color: gray; opacity: 0.95;}
.blackBorder{ border: 1px solid black; }
.grayscale{ filter: grayscale(100%); }

.transparentItem{ opacity: 0.5; }

.hoverBrown:hover{
	background-color: #5f605f !important;
	cursor: pointer !important;
}

.hoverTan:hover{
	background-color: #b88fe6 !important;
	cursor: pointer !important;
}

.hoverTan2:hover{
	background-color: #ab83bf !important;
	cursor: pointer !important;
}

.hoverTan3:hover{
	background-color: #8f8fd6 !important;
	cursor: pointer !important;
}

.fireIcon{
	position: absolute;
	top: 0px;
	left: 0px;
}

.enhancementRune{
	position: absolute;
	left: calc(50% - 31px);
	top: calc(50% - 31px);
	height: 62px;
	width: 62px;
	pointer-events: none;
	image-rendering: pixelated;
	/* Apply animation to this element */
	-moz-animation: fadeInFadeOut 5s linear infinite;
	-webkit-animation: fadeInFadeOut 5s linear infinite;
	animation: fadeInFadeOut 5s linear infinite;
 }
 
 @-moz-keyframes fadeInFadeOut {
  0%   { opacity: 1.0; }
  50%  { opacity: 0.50; }
  100% { opacity: 1.0; }
 }
 @-webkit-keyframes fadeInFadeOut {
  0%   { opacity: 1.0; }
  50%  { opacity: 0.50; }
  100% { opacity: 1.0; }
 }
 @keyframes fadeInFadeOut {
  0%   { opacity: 1.0; }
  50%  { opacity: 0.50; }
  100% { opacity: 1.0; }
 }

 p{
	 margin: 0;
	 padding: 0;
 }

 .scroll-up {	
	overflow: hidden;
	position: relative;
   }
   .scroll-up p {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 14px;
	/* Starting position */
	-moz-transform:translateY(100%);
	-webkit-transform:translateY(100%);	
	transform:translateY(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-up 20s linear infinite;
	-webkit-animation: scroll-up 12s linear infinite;
	animation: scroll-up 12s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-up {
	0%   { -moz-transform: translateY(100%); }
	100% { -moz-transform: translateY(-100%); }
   }
   @-webkit-keyframes scroll-up {
	0%   { -webkit-transform: translateY(100%); }
	100% { -webkit-transform: translateY(-100%); }
   }
   @keyframes scroll-up {
	0%   { 
	-moz-transform: translateY(100%); /* Browser bug fix */
	-webkit-transform: translateY(100%); /* Browser bug fix */
	transform: translateY(100%); 		
	}
	100% { 
	-moz-transform: translateY(-100%); /* Browser bug fix */
	-webkit-transform: translateY(-100%); /* Browser bug fix */
	transform: translateY(-100%); 
	}
   }