<div class="convoyFrame">
    <div style="height: 45px; vertical-align: bottom;">
        <div style="float: right; height: 16px;">
            <img src="IMG/refresh.png" ng-click="fetchConvoy()" class="hoverImage" title="Refresh convoy data" />
            <img src="IMG/close.png" ng-click="closeConvoy()" class="hoverImage" title="Close convoy" />
        </div>
        <table class="header">
            <colgroup>
                <td width="10%" />
                <td width="10%" />
                <td width="5%" />
                <td width="8%" />
                <td width="5%" />
                <td width="8%" />
                <td width="3%" />
                <td width="3%" />
                <td width="3%" />
                <td width="3%" />
                <td width="4%" />
                <td width="5%" />
                <td width="15%" />
                <td width="*" />
            </colgroup>
            <tr>
                <td>Item Name</td>
                <td>Owner</td>
                <td>Uses</td>
                <td>Category</td>
                <td>Rank</td>
                <td>Type</td>
                <td>Mgt</td>
                <td>Hit</td>
                <td>Crit</td>
                <td>Grd</td>
                <td>Avo</td>
                <td>Rng</td>
                <td>Effect</td>
                <td>Desc</td>
            </tr>
        </table>
    </div>
    <div class="convoyTableContainer">
        <table class="inventory">
            <colgroup>
                <td width="10%" />
                <td width="10%" />
                <td width="5%" />
                <td width="8%" />
                <td width="5%" />
                <td width="8%" />
                <td width="3%" />
                <td width="3%" />
                <td width="3%" />
                <td width="3%" />
                <td width="4%" />
                <td width="5%" />
                <td width="15%" />
                <td width="*" />
            </colgroup>
            <tbody ng-repeat="item in items | orderBy: getItemSortOrder()" ng-if="displayItemType(item.category)">
                <tr class="inventoryRow">
                    <td style="text-align: center">{{item.name}}</td>
                    <td style="text-align: center">{{item.owner}}</td>
                    <td style="text-align: center">{{item.uses == 0 ? "-" : item.uses}}</td>
                    <td style="text-align: center" ng-style="{'background-color' : getRowColor(item.category)}">{{item.category}}</td>
                    <td style="text-align: center">{{item.rank}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.might}}</td>
                    <td>{{item.hit}}</td>
                    <td>{{item.crit}}</td>
                    <td>{{item.grd}}</td>
                    <td>{{item.avo}}</td>
                    <td>{{item.range}}</td>
                    <td>{{item.effect}}</td>
                    <td>{{item.desc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 60px;">
        <div style="margin-top: 15px; padding-left: 10px; display: inline-block; height: 50px; width: 425px;">
            <span class="showChkbx">
                <div class="checkbox" ng-click="showSword=!showSword"><span class="check" ng-if="showSword">&#10004;</span></div>
                <span class="checkboxLabel">Sword</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showLance=!showLance"><span class="check" ng-if="showLance">&#10004;</span></div>
                <span class="checkboxLabel">Lance</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showAxe=!showAxe"><span class="check" ng-if="showAxe">&#10004;</span></div>
                <span class="checkboxLabel">Axe</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showBow=!showBow"><span class="check" ng-if="showBow">&#10004;</span></div>
                <span class="checkboxLabel">Bow</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showRhyme=!showRhyme"><span class="check" ng-if="showRhyme">&#10004;</span></div>
                <span class="checkboxLabel">Rhyme</span>
            </span>
            <br />
            <span class="showChkbx">
                <div class="checkbox" ng-click="showWand=!showWand"><span class="check" ng-if="showWand">&#10004;</span></div>
                <span class="checkboxLabel">Wand</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showPoppet=!showPoppet"><span class="check" ng-if="showPoppet">&#10004;</span></div>
                <span class="checkboxLabel">Poppet</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showWonder=!showWonder"><span class="check" ng-if="showWonder">&#10004;</span></div>
                <span class="checkboxLabel">Wonder</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showNatural=!showNatural"><span class="check" ng-if="showNatural">&#10004;</span></div>
                <span class="checkboxLabel">Natural</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showOther=!showOther"><span class="check" ng-if="showOther">&#10004;</span></div>
                <span class="checkboxLabel">Other</span>
            </span>
        </div>
        <div style="vertical-align: middle; display: inline-block; height: 68px; width: 155px; vertical-align: top;">
            <button class="showChkbx showAllButton" style="position: relative; left: 12px; top: 15px;" ng-click="setAllCheckboxes()">
                <span ng-if="allChecked()">Deselect All</span>
                <span ng-if="!allChecked()">Select All</span>
            </button>
        </div>
        <div style="margin-top: 15px; display: inline-block; height: 50px; width: 340px;">
            <button ng-click="updateSortOrder('name')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'name'}">Name</button>
            <button ng-click="updateSortOrder('owner')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'owner'}">Owner</button>
            <button ng-click="updateSortOrder('category')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'category'}">Category</button>
            <button ng-click="updateSortOrder('rank')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'rank'}">Rank</button>
            <br />
            <button ng-click="updateSortOrder('-uses')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-uses'}">Uses</button>
            <button ng-click="updateSortOrder('-hit')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-hit'}">Hit</button>
            <button ng-click="updateSortOrder('-crit')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-crit'}">Crit</button>
            <button ng-click="updateSortOrder('-rangeVal')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-rangeVal'}">Range</button>
        </div>
    </div>
</div>
