<div class="convoyFrame">
    <div style="height: 45px; vertical-align: bottom;">
        <div style="float: right; height: 16px;">
            <img src="IMG/refresh.png" ng-click="fetchConvoy()" class="hoverImage" title="Refresh convoy data" />
            <img src="IMG/close.png" ng-click="closeConvoy()" class="hoverImage" title="Close convoy" />
        </div>
        <table class="header">
            <colgroup>
                <col width="10%" />
                <col width="8%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="*" />
            </colgroup>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Uses</td>
                <td>Rank</td>
                <td>Might</td>
                <td>Hit</td>
                <td>Crit</td>
                <td>Avo</td>
                <td>CEva</td>
                <td>Rng</td>
                <td>Description</td>
            </tr>
        </table>
    </div>
    <div class="convoyTableContainer">
        <table class="inventory">
            <colgroup>
                <col width="10%" />
                <col width="8%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="*" />
            </colgroup>
            <tbody ng-repeat="item in items | orderBy: getItemSortOrder()" ng-if="displayItemType(item.type)">
                <tr class="inventoryRow">
                    <td style="text-align: center;">{{item.name}}</td>
                    <td style="text-align: center;" ng-style="{'background-color' : getRowColor(item.type)}">{{item.type}}</td>
                    <td style="text-align: center;">
                        <span ng-if="hasUses(item.type) && item.might > 0">{{item.might}}</span>
                        <span ng-if="!hasUses(item.type)">∞</span>
                    </td>
                    <td style="text-align: center;">{{item.rank}}</td>
                    <td>
                        <span ng-if="!hasUses(item.type)">{{item.might}}</span>
                        <span ng-if="hasUses(item.type)">0</span>
                    </td>
                    <td>{{item.hit}}</td>
                    <td>{{item.crit}}</td>
                    <td>{{item.avo}}</td>
                    <td>{{item.cEva}}</td>
                    <td>{{item.range}}</td>
                    <td>{{item.desc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 60px;">
        <div style="margin-top: 15px; padding-left: 10px; display: inline-block; height: 50px; width: 425px;">
            <span class="showChkbx">
                <div class="checkbox" ng-click="showSword=!showSword"><span class="check" ng-if="showSword">&#10004;</span></div>
        <span class="checkboxLabel">Sword</span>
        </span>
        <span class="showChkbx">
                <div class="checkbox" ng-click="showLance=!showLance"><span class="check" ng-if="showLance">&#10004;</span></div>
    <span class="checkboxLabel">Lance</span>
    </span>
    <span class="showChkbx">
                <div class="checkbox" ng-click="showAxe=!showAxe"><span class="check" ng-if="showAxe">&#10004;</span></div>
<span class="checkboxLabel">Axe</span>
</span>
<span class="showChkbx">
                    <div class="checkbox" ng-click="showTome=!showTome"><span class="check" ng-if="showTome">&#10004;</span></div>
<span class="checkboxLabel">Tome</span>
</span>
<span class="showChkbx">
                <div class="checkbox" ng-click="showKnife=!showKnife"><span class="check" ng-if="showKnife">&#10004;</span></div>
<span class="checkboxLabel">Knife</span>
</span>
<br />
<span class="showChkbx">
                    <div class="checkbox" ng-click="showBow=!showBow"><span class="check" ng-if="showBow">&#10004;</span></div>
<span class="checkboxLabel">Bow</span>
</span>
<span class="showChkbx">
                <div class="checkbox" ng-click="showStone=!showStone"><span class="check" ng-if="showStone">&#10004;</span></div>
<span class="checkboxLabel">Stone</span>
</span>
<span class="showChkbx">
                <div class="checkbox" ng-click="showStaff=!showStaff"><span class="check" ng-if="showStaff">&#10004;</span></div>
<span class="checkboxLabel">Staff</span>
</span>
<span class="showChkbx">
                <div class="checkbox" ng-click="showOther=!showOther"><span class="check" ng-if="showOther">&#10004;</span></div>
<span class="checkboxLabel">Other</span>
</span>
</div>
<div style="vertical-align: middle; display: inline-block; height: 68px; width: 155px; vertical-align: top;">
    <button class="showChkbx showAllButton" style="position: relative; left: 12px; top: 15px;" ng-click="setAllCheckboxes()">
                <span ng-if="allChecked()">Deselect All</span>
                <span ng-if="!allChecked()">Select All</span>
            </button>
</div>
<div style="margin-top: 15px; display: inline-block; height: 50px; width: 340px;">
    <button ng-click="updateSortOrder('name')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'name'}">Name</button>
    <button ng-click="updateSortOrder('type')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'type'}">Type</button>
    <button ng-click="updateSortOrder('rank')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'rank'}">Rank</button>
    <button ng-click="updateSortOrder('-might')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-might'}">Might</button>
    <br />
    <button ng-click="updateSortOrder('-hit')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-hit'}">Hit</button>
    <button ng-click="updateSortOrder('-crit')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-crit'}">Crit</button>
    <button ng-click="updateSortOrder('-rangeVal')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-rangeVal'}">Range</button>
</div>
</div>
</div>
