<div class="backgroundBox"></div>
<div id="dropArea" class="mapBox">
	<img id="map" src="{{mapUrl}}" style="display: block;" />
	<div style="display: block; height: 118px;">
		<img ng-src="IMG/time_out.png" />
		<button class="buttonGridStyle" ng-click="toggleGrid()">
				Grid Style: 
				<span ng-if="showGrid==0"> None</span>
				<span ng-if="showGrid==1"> Thin</span>
				<span ng-if="showGrid==2"> Medium</span>
				<span ng-if="showGrid==3"> Thick</span>
		</button>
	</div>
	<div style="display: block; height: 25px;">
		<!--<div class="convoyButton" ng-click="redirectToHomePage()">
			<img src="IMG/convoy_button.png" style="position: relative;"/>
			<span class="convoyButtonText" style="left: 13px;">&#11013; Menu</span>
		</div>
		<div class="convoyButton" ng-click="refreshData()">
			<img src="IMG/convoy_button.png" />
			<span ng-if="!refreshing" class="convoyButtonText" style="left: 9px;">&#10226; Refresh</span>
			<img src="IMG/loading.gif" class="convoyLoadingButton" ng-if="refreshing" />
		</div>
		<div class="convoyButton" ng-click="launchConvoyDialog()">
			<img src="IMG/convoy_button.png" />
			<span class="convoyButtonText" style="left: 18px;">Convoy</span>
		</div>-->
		<div class="convoyButton" ng-click="launchShopDialog()">
			<img src="IMG/convoy_button.png" />
			<span class="convoyButtonText" style="left: 24px;">Shop</span>
		</div>
	</div>

	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox"
			 ng-repeat="(indexX,column) in columns"
			 title="({{column}},{{row}}) {{terrainLocs[column+','+row].type}}: {{terrainTypes[terrainLocs[column+','+row].type].avo}}🚶  {{terrainTypes[terrainLocs[column+','+row].type].def}}⛨  {{terrainTypes[terrainLocs[column+','+row].type].heal + terrainLocs[column+','+row].bonusHealVal}}♥"
			 ng-style="{left: determineGlowX(indexX)}"
		>
			 <div style="width: 100%; height: 100%;" ng-style="{'background-color': determineGlowColor(column+','+row)}"></div>
			 <div class="glowBoxBorderBox" ng-class="{glowBoxBorder3:showGrid==3, glowBoxBorder2:showGrid==2, glowBoxBorder1:showGrid==1}"></div>
		</div>
	</div>
	
	<!--Draw characters-->
	<div ng-repeat="(cIndex,char) in charaData">
		<div id="{{cIndex}}" 
			 ng-if="validPosition(char.position)"
			 class="absolutePos charDiv hoverImage"
			 title="({{char.position}}) {{terrainLocs[char.position].type}}: {{terrainTypes[terrainLocs[char.position].type].avo}}🚶  {{terrainTypes[terrainLocs[char.position].type].def}}⛨  {{terrainTypes[terrainLocs[char.position].type].heal + terrainLocs[char.position].bonusHealVal}}♥"
			 ng-style="{left: determineCharX($index, char.position), top: determineCharY(char.position), 'z-index': determineCharZ(char.position)}"
		>
			<!--Unit sprite-->
			<img ng-src="{{char.spriteUrl}}" class="mapCharCentered" ng-class="{grayscale: char.hasMoved}" />
			<!--<img ng-src="{{getEnemyNum(char.name)}}" class="enemyNum" />-->
			<div ng-if="char.position.indexOf(',') != -1">
				<div class="healthBarBack"></div>
				<div class="healthBarFront" ng-style="{width: getHPPercent(char.currHp, char.maxHp), 'background-color': determineHPBackgroundColor(char.currHp, char.maxHp)}"></div>
				<div class="healthBarBorder"></div>
			</div>
			<!--<img ng-if="char.class.tags.indexOf('Boss') != -1" class="pairUpIcon" src="IMG/shield_boss.png" />-->
			<!--<img ng-if="isPaired(cIndex)" class="pairUpIcon" src="IMG/shield_pairup.png" />-->
			<div style="height: 16px; width: 16px; pointer-events: auto;" class="mapCharCentered" ng-click="displayData(cIndex)"></div>
		</div>
	</div>

    <!--Character Info Box-->
	<div id="{{cIndex}}_box" 
		 ng-repeat="(cIndex,char) in charaData"
		 class="characterInfo yellowTan"
		 draggable="true" 
		 ng-show="checkCharToggle(cIndex)"
		 ng-style="{'z-index': boxHoverOn(cIndex)}"
		 ng-mouseenter="boxHoverIn(cIndex)"
		 ng-mouseleave="boxHoverOut(cIndex)"
	>
		<!--Drag bar-->
		<div class="absolutePos dragBar olive"></div>
		<!--Close button-->
		<div class="infoElement dragBarButton hoverImage" title="Close" style="left:calc(100% - 18px)" ng-click="removeData(cIndex)">
			<img src="IMG/close.png">
		</div>
		<!--Name, Class, Lvl-->
		<div class="infoElement whiteText charNamePos" ng-mouseenter="nameHoverIn(cIndex)" ng-mouseleave="nameHoverOut(cIndex)" ng-style="{'background-color': determineNametagColor(char.affiliation)}" style="text-align: center;">
			<span style="position: relative; font-size: 18px; top: calc(50% - 17px);">{{char.name}}</span><br />
			<span style="position: relative; top: 2px; font-size: 10px; height: 14px; vertical-align: middle;">
				Lvl. {{char.level}}
			</span>
		</div>
	</div>

	<convoy ng-if="showConvoy"></convoy>
	<shop ng-if="showShop"></shop>
</div>