<div class="convoyFrame">
    <div style="height: 45px; vertical-align: bottom;">
        <div style="float: right; height: 16px;">
            <img src="IMG/refresh.png" ng-click="fetchShop()" class="hoverImage" title="Refresh shop data" />
            <img src="IMG/close.png" ng-click="closeShop()" class="hoverImage" title="Close shop" />
        </div>
        <table class="header">
            <colgroup>
                <col width="10%" />
                <col width="8%" />
                <col width="5%" />
                <col width="5%" />
                <col width="4%" />
                <col width="8%" />
                <col width="3%" />
                <col width="3%" />
                <col width="3%" />
                <col width="3%" />
                <col width="3%" />
                <col width="5%" />
                <col width="18%" />
                <col width="*" />
            </colgroup>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Stock</td>
                <td>Price</td>
                <td>Rank</td>
                <td>Type</td>
                <td>Mgt</td>
                <td>Hit</td>
                <td>Crit</td>
                <td>Grd</td>
                <td>Avo</td>
                <td>Rng</td>
                <td>Effect</td>
                <td>Description</td>
            </tr>
        </table>
    </div>
    <div class="convoyTableContainer">
        <table class="inventory">
            <colgroup>
                <col width="10%" />
                <col width="8%" />
                <col width="5%" />
                <col width="5%" />
                <col width="4%" />
                <col width="8%" />
                <col width="3%" />
                <col width="3%" />
                <col width="3%" />
                <col width="3%" />
                <col width="3%" />
                <col width="5%" />
                <col width="18%" />
                <col width="*" />
            </colgroup>
            <tbody ng-repeat="item in items | orderBy: getItemSortOrder()" ng-if="displayItemType(item.category) && (item.stock > 0 || displayInStock)">
                <tr class="inventoryRow">
                    <td style="text-align: center;">{{item.name}}</td>
                    <td style="text-align: center;" ng-style="{'background-color' : getRowColor(item.category)}">{{item.category}}</td>
                    <td style="text-align: center;">{{item.stock}}</td>
                    <td style="text-align: center;">{{item.cost}}G</td>
                    <td style="text-align: center;">{{item.rank}}</td>
                    <td style="text-align: center;">{{item.type}}</td>
                    <td>{{item.might}}</td>
                    <td>{{item.hit}}</td>
                    <td>{{item.crit}}</td>
                    <td>{{item.grd}}</td>
                    <td>{{item.avo}}</td>
                    <td>{{item.range}}</td>
                    <td>{{item.effect}}</td>
                    <td>{{item.desc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 60px;">
        <div style="margin-top: 15px; padding-left: 10px; display: inline-block; height: 50px; width: 425px;">
            <span class="showChkbx">
                <div class="checkbox" ng-click="showSword=!showSword"><span class="check" ng-if="showSword">&#10004;</span></div>
                <span class="checkboxLabel">Sword</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showLance=!showLance"><span class="check" ng-if="showLance">&#10004;</span></div>
                <span class="checkboxLabel">Lance</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showAxe=!showAxe"><span class="check" ng-if="showAxe">&#10004;</span></div>
                <span class="checkboxLabel">Axe</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showBow=!showBow"><span class="check" ng-if="showBow">&#10004;</span></div>
                <span class="checkboxLabel">Bow</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showRhyme=!showRhyme"><span class="check" ng-if="showRhyme">&#10004;</span></div>
                <span class="checkboxLabel">Rhyme</span>
            </span>
            <br />
            <span class="showChkbx">
                <div class="checkbox" ng-click="showWand=!showWand"><span class="check" ng-if="showWand">&#10004;</span></div>
                <span class="checkboxLabel">Wand</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showPoppet=!showPoppet"><span class="check" ng-if="showPoppet">&#10004;</span></div>
                <span class="checkboxLabel">Poppet</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showWonder=!showWonder"><span class="check" ng-if="showWonder">&#10004;</span></div>
                <span class="checkboxLabel">Wonder</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showNatural=!showNatural"><span class="check" ng-if="showNatural">&#10004;</span></div>
                <span class="checkboxLabel">Natural</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showOther=!showOther"><span class="check" ng-if="showOther">&#10004;</span></div>
                <span class="checkboxLabel">Other</span>
            </span>
        </div>
        <div style="vertical-align: middle; display: inline-block; height: 68px; width: 160px; vertical-align: top;">
            <button class="showChkbx showAllButton" style="position: relative; left: 32px; top: 15px;" ng-click="setAllCheckboxes()">
                <span ng-if="allChecked()">Deselect All</span>
                <span ng-if="!allChecked()">Select All</span>
            </button>
            <span class="showChkbx" style="width: 150px !important; position: relative; left: 0px; top: 15px;">
                <div class="checkbox" ng-click="displayInStock=!displayInStock"><span class="check" ng-if="displayInStock">&#10004;</span></div>
                <span class="checkboxLabel" style="font-size: 9px !important">Show Out-of-Stock Items</span>
            </span>
        </div>
        <div style="margin-top: 15px; display: inline-block; height: 50px; width: 340px;">
            <button ng-click="updateSortOrder('name')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'name'}">Name</button>
            <button ng-click="updateSortOrder('category')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'category'}">Category</button>
            <button ng-click="updateSortOrder('cost')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'cost'}">Price</button>
            <button ng-click="updateSortOrder('rank')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == 'rank'}">Rank</button>
            <br />
            <button ng-click="updateSortOrder('-might')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-might'}">Might</button>
            <button ng-click="updateSortOrder('-hit')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-hit'}">Hit</button>
            <button ng-click="updateSortOrder('-crit')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-crit'}">Crit</button>
            <button ng-click="updateSortOrder('-rangeVal')" class="shopSortButton" ng-class="{'red' : getItemSortOrder() == '-rangeVal'}">Range</button>
        </div>
    </div>
</div>
